main-bg = #050509
main-text-color = #a7805e
panels-bg = #251414
panels-border-color = #54331d
active-element-bg-color = #805620
active-element-color = #efc18e
elements-bg = #3D251E

// code editor
codeEditor-font-size = 10pt
codeEditor-line-height = 14px

// code highlights
codeHighlighting-none = #b48671
codeHighlighting-keywords = #debea2
codeHighlighting-num = #a9c089
codeHighlighting-operators = #e2b1a8
codeHighlighting-braces = #eacaae
codeHighlighting-functions = #a3bdb9
codeHighlighting-enums = #b9bd98
